.header-menu{
  background-color: #F5CF3A ;
  padding: 10px 30px;

  .menu .item{
    color:#6E4F38 !important;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.03125rem;
    text-transform: uppercase !important;
  }

  .menu .active{
    background: none !important;
    background-color: #e2bc24 !important;
  }
  
  .active::after{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: rgba(0, 163, 218, 0);
    -webkit-transition: bachground-color 0.08s ease-out ;
    transition: background-color 0.08s ease-out;
    background-color: #af8f10;
  }
}